<!--This was for the first index part-->

<%# <html>
  <head>
    <title>The Gossip Project</title>
  </head>
  <body>
    <h1>Mon super site de gossip, depuis le dossier views !</h1>
    <a href="/gossips/new/">le texte du lien</a>
    <!--This is the necessary link path to put in /X/Y/ etc.-->
    <!--It is not necessary to put http://localhost:4567/gossips/new/ because sinatra expects the "http:" already-->
  </body>
</html> %>

<html>
  <head>
    <title>The Gossip Project List</title>
  </head>
    <body>
      <h1>The List!</h1>
      <% gossips.each_with_index do |gossip, index| %>
      <p>
        <%= gossip.author %><br/>
        <%= gossip.description %><br/>
      </p>
      <a href="/gossips/<%= index + 1 %>">Rumour<%= index +1 %></a>
      <% end %>
    </body>
  </head>
</html>