<html>
  <head>
    <title>Create a rumour</title>
  </head>
  <body>
    <h1>Create a rumour !</h1>
    <p>Throw your rumour into the mill!</p>
    <form action='/gossips/new/' method='POST'>
      Put a name here : <input type='text' name='gossip_author'/><br/>
      Let out the rumour : <input type='text' name='gossip_description'/><br/>
      <input type='submit'/>
    </form>
  </body>
</html>